/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
*DS_Store
.DS_Store
._*
package-lock.json
/.phpstorm_helpers
/.Trash-1000
*.swp
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.phpintel*
.fuse_*
/vendor
*.log
*.logs
